$break1: '(max-width: 767px)';
$break2: '(min-width: 768px) and (max-width: 979px)';
$break3: '(min-width: 980px)';


$main-font-size_for_sm: 14px;
$main-font-size_for_md: 12px;
$main-font-size_for_lg: 12px;
